.homeContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
  margin: 30px 10px;
  font-family: "Comic Sans MS", sans-serif;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  flex: 2;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  text-decoration: none;
  align-self: center;
  border-radius: 8px;
}

.enableButton {
  border: 1px solid darkgray;
  background-color: darkgray;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px grey;
}

.disabledButton {
  border: 1px solid gainsboro;
  background-color: gainsboro;
  color: darkgray;
}
